
    <div class="container" id="welcome">
		<div class="main-text">
			<p><span id="name">Hello. My name is Brad Erb and</span></p>
			<p id="line2"><span id="name">here's what I can do for you</span></p>
			<%= link_to "View my Work", 'portfolio', :class => "btn" %>
		</div>
	</div>





